.user-info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 48%;
    font-size: 1.2rem;

&__nickname{
    font-weight: 900;
}

  &__about-me{
    font-weight: 600;
    
  }
  &__more{

  }

  &__links {
    text-decoration: none;
    color: rgb(79, 102, 206);
    font-weight: bold;
  }
}

@media screen and (min-width: 886px){
    .user-info {
    position: relative;
  top: 2rem;
  margin-left: 29%;
}
}
